@charset "ISO-8859-1";
h1 {
    font-family: lucida Handwriting, Cursive;
    color: black;
}

.navbar {
    overflow: hidden;
/*     background-color: #38fca4; */
}

.navbar a {
    float: left;
    font-size: 16px;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

 a:hover, .dropdown:hover .dropbtn {
/*     background-color: #fff;
 */}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-image:
        url("https://williamsinstitute.law.ucla.edu/wp-content/uploads/WI-health_03b_s.jpg");
    background-size:1366px 680px;     
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}













