@charset "ISO-8859-1";
a:link, a:visited {
	background-color: #3782e9;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-top: 5px;
	width: 220px;
	border-radius: 5px;
	height: 27px;
}

a:hover, a:active {
	background-color: pink;
}

.sub-headings {
	text-align: center;
	background-color: #30c1be;
	color: #1c1b1b;
}

.sub-div {
	text-align: center;
}