@charset "ISO-8859-1";
.heading-text {
	font-weight: bold;
	font-size: 20px;
}

body {
	background-color: #a5edf3;
}

.input-size {
	padding: 5px;
	width: 15%;
}

.button-style {
	width: 90px;
	height: 30px;
	margin-top: 12px;
	background-color: #f6f7f2;
	font-weight: bold;
}
.form
{
text-align: center; 
margin-top: 9%;
}