@charset "ISO-8859-1";
.heading-text {
	font-weight: bold;
   font-size: 25px;
    color: white;
}



.input-size {
	padding: 5px;
	width: 15%;
}

.button-style {
	width: 90px;
	height: 30px;
	margin-top: 12px;
	background-color: #f6f7f2;
	font-weight: bold;
}
.form
{
text-align: center; 
    margin-left: 100px;
    margin-top: 41px;

}
.center
{
	text-align:"center";
}
.container {
    margin-top: 1%;
    margin-left: 30%;
    border-radius: 5px;
    background-color: #EAEDED ;
    padding: 30px;
    width: 30%;
    float: left;
}