@charset "ISO-8859-1";

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
}

nav {
	height: 70px;
	width: 100%;
	background: #c12a2a;
}

label.logo {
	font-size: 35px;
	font-weight: bold;
	color: white;
	padding: 0 100px;
	line-height: 80px;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	margin: 0 5px;
	line-height: 80px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	/* border:1px solid transparent;*/
	padding: 7px 13px;
	border-radius: 3px;
}

a.active, a:hover {
	background: #1b9bff;
	transition: .5s;
}
