@charset "ISO-8859-1";
.menu {
	width: 200px;
    float: left; 
    height: 40px;
    margin-top: -26px;
    margin-left: 24%;
}
ul {
	
    margin-left: 453px;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

ul li {
	list-style: none;
	margin-left: 62px;
	margin-top: 27px;
	font-size: 20px;
}

ul li a {
	text-decoration: none;
	color: #f30833;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

ul li a:hover {
	color: #0db1a1;
}