@charset "ISO-8859-1";
/* table, th, td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

th, td {
	border-color: #96D4D4;
}

tr:hover {
	background-color: #D6EEEE;
}

.button {
	font-size: 19px;
	background-color: #17c0cd5e;
	border: 1px solid blue;
	border-radius: 5px;
}

.top {
	margin-top: 105px;
	margin-left: 185px;
}

.btn_align {
	margin-right: 181px;
	margin-top: 25px;
	text-align: center;
}
.bloodgrp_top
{
	margin-top: 45px;
    margin-left: 364px;
}
.bloodgrp_btn
{
	margin-right: 47px;
	margin-top: 25px;
	text-align: center;
}
.person_top
{
	    margin-top: 69px;
    margin-left: 184px;
}
.person_btn
{
	    margin-right: -21px;
    margin-top: 25px;
    text-align: center;
}
.donation_top
{
	margin-top: 105px;
    margin-left: 280px;
}

.request_top
{
	    margin-top: 105px;
    margin-left: 106px;
}
.request_btn
{
	margin-right: 54px;
    margin-top: 25px;
    text-align: center;
}
.appo_top
{
	    margin-top: 108px;
    margin-left: 288px;
} */


*
body{
    background-size: 1366px 768px;
    background-attachment: fixed;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th, td {
    border-color: #96D4D4;
}

tr:hover {
    background-color: #D6EEEE;
}


.label-size {
    font-size: 20px;
}

.text-box {
    height: 20px;
    width: 200px;
}

.button {
	font-size: 19px;
	background-color: #17c0cd5e;
	border: 1px solid blue;
	border-radius: 5px;
}
.text-danger {
    color: red;
    font-size: 0.9em;
}
.donation_btn
{
	margin-right: -17px;
    margin-top: 25px;
    text-align: center;
}